.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  height: 220px;
  border-radius: 15px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-size: cover; 
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h2 {
  margin: 0 0 5px 0;
  font-size: 24px;
}

.card p {
  margin: 0;
  font-size: 12px;
  opacity: 0.8;
}


.south-korea {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://picsum.photos/id/1015/400/300');
}

.tbilisi {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://picsum.photos/id/1016/400/300');
}

.new-york {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://picsum.photos/id/1018/400/300');
}

.paris {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://picsum.photos/id/1019/400/300');
}

.tokyo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://picsum.photos/id/1020/400/300');
}

.dubai {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://picsum.photos/id/1021/400/300');
}